body{
	padding: 30px 100px;
}
header {
	margin-bottom: 50px;
}
ul {
  list-style: none; 
  padding-left: 0;  
  margin: 0;        
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	margin: 0;
}
button {
	border: none;
}
.flex {
	display: flex;
	align-items: center;
}
.title {
  border-left: 5px solid blue;
  padding:0 0 0 10px;
  display: flex;
  align-items: center;
  margin: 0 0 50px 0;
}
.option {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.memo-text {
	white-space: pre-wrap;
}
.search-title form {
	display: flex;
	align-items: center;
	gap: 10px;
}

.search-title input {
	display: block;
	width: 300px;
	line-height: 30px;
	border-radius: 5px;
}

.search-title button {
	display: block;
	background-color: rgb(105,174,246);
	color: white;
	width: 90px;
	height: 30px;
	border: none;
}
.data-refinement {
	display: flex;	
}
header {
	display: flex;
}
button.switch {
	background-color: rgb(61,184,210);
	border: none;
	border-radius: 5px;
	height: 25px;
	width: 90px;
}
ul.data-refinement {
	padding-top: 5px;
	margin-left: 30px;
}
ul.data-refinement li{
	width: 120px;
	position: relative;
}
ul.data-refinement .tags {
	width: calc(100% + 20px);
	margin-left: -10px;
}
ul.data-refinement .button-box {
	display: flex;
	justify-content:center;
	gap: 20px;
}
ul.data-refinement .button-box button {
	height: 30px;
	width: 100px;
	border-radius: 15px;
	border: none;
	color: white;
}
ul.data-refinement .button-box button.cancel {
	background-color: rgb(157,157,157);
}
ul.data-refinement .button-box button[type="submit"] {
	background-color: rgb(61,184,210);
}
.filter-container {
	position: absolute;
	display: none;
	right: -30px;
	top: 40px;
	z-index: 1;
	width: 400px;
	padding: 30px 10px 15px;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}
.filter-container::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 0;
	width: 100%;
	height: calc(100% - 15px);
	background-color: white;
	z-index: -1;             
	border-radius: 10px;
}
.filter-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background-color: white;
	z-index: -1;
	clip-path: polygon(72% 15px, 75% 0, 78% 15px);
}
.filter-container .sub-title {
	color: rgb(4,62,128);
	font-weight: bold;
	font-size: 12px;
	margin: 0 0 5px;
}
.filter-container label {
	color: rgb(4,62,128);
	font-size: 10px;
}

.updated-date label, .updated-date input{
	display: block;
}
.date-box {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.date-box span{
	display: block;
	height: fit-content;
	font-size: 10px;
	margin-bottom: 5px;
	width: 30px;
	text-align: center;
}
.input-date {
	flex: 1 1 0;
	min-width: 0;
}
.input-date input {
	display: block;
	width: 100%;
	height: 25px;
    box-sizing: border-box;
	min-width: 0;
}
.tag-box{
	overflow: visible;
	height: 60px;
	margin-bottom: 30px;
	position: relative;
}
.selected-tags {
	border: black solid 1px;
	position: relative;
	display: flex;
	column-gap: 10px;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 60px;
	border-radius: 10px;
	font-size: 16px;
	padding-left: 20px;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.selected-tags .selected-tag{
	width: fit-content;
	height: fit-content;
	color: white;
	border-radius: 20px;
	padding: 2px 8px;
}
.selected-tags li.selected-tag:nth-child(3n) {
	background-color: rgb(78,217,215);
}
.selected-tags li.selected-tag:nth-child(3n+1) {
	background-color: rgb(99,101,166);
}	
.selected-tags li.selected-tag:nth-child(3n+2) {
	background-color: rgb(78,126,217);
}

.tag-switch {
	position: absolute;
	right: 5px;
	height: 30px;
	line-height: 60px;
	width: 40px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.tags {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
	height: 260px;
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	padding-right: 5px;	
	display: none;
	border-radius: 10px;
	z-index: 2;
	background-color: white;
}
.tags div {
	height: 60px;
	padding-left: 5px;
	border-bottom: black solid 1px;
	display: flex;
	align-items: center;
	font-size: 16px;
}

.sort-container {
	position: absolute;
	display: none;
	right: -30px;
	top: 40px;
	z-index: 1;
	width: 300px;
	padding: 30px 10px 15px;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}
.sort-container::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 0;
	width: 100%;
	height: calc(100% - 15px);
	background-color: white;
	z-index: -1;             
	border-radius: 10px;
}
.sort-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background-color: white;
	z-index: -1;
	clip-path: polygon(72% 15px, 75% 0, 78% 15px);
}
.sort-container .sub-title {
	color: rgb(4,62,128);
	font-weight: bold;
	font-size: 12px;
	margin: 0 0 5px;
}
.sort-container label {
	color: black;
	font-size: 10px;
}
.sort-container .radio-box {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-bottom: 10px;
}
.sort-container .radio-box input {
	display: block;
	margin: 0;
}
.sort-container .radio-box label {
	display: block;
	width: 30px;
	padding-left: 5px;
	flex-shrink: 0;
}
.create-button {
	flex-grow: 1;
	display: flex;
	justify-content: end;
}
.create-button a {
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	background: linear-gradient(to right, rgb(105,174,246), rgb(61,184,210));
	border-radius: 20px;
}
.create-button a span{
	margin-left:10px;
}
.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.memo-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	justify-content: space-between;
}
.memo {
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	width: 23%;
	min-height: 380px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow-wrap: anywhere;
}
.memo-header {
	margin-bottom: 20px;
}
.memo-title {
	font-size: 30px;
	margin: 0;
	font-weight: bold;
	color: rgb(4,62,128);
}
.memo-menu {
	position: absolute;
	right:15px;
	top: 15px;
	
}
.memo-menu .menu-switch {
	width: fit-content;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
}
.memo-menu .menu-switch span {
	font-size:14px;
	display: inline-block;
	height: 5px;
	line-height: 5px;
	width: 8px;
	text-align: center;
	font-weight: bold;
}
.memo-menu .menu-box {
	display: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 15px;
	right: 0;
	width: 100px;
	background-color: white;
	z-index: 1;
}
.memo-menu .menu-box li .flex{
	gap: 10px;
	padding-left: 20px;
}
.memo-menu .menu-box li p{
	width: fit-content;
}
.memo-menu .delete-dialog {
	display: none;
	position: fixed;
	background-color: white;
	top: 50%;
	left: 50%;
	width: 600px;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
	padding: 40px;
}
.memo-menu .delete-dialog .memo-title{
	font-size: 24px;
}
.memo-menu .delete-dialog .memo-title +p {
	font-size: 24px;
	margin: 0 0 40px 0;
}
.memo-menu .delete-dialog .delete-cancel {
	width: 150px;
	background-color: rgb(157,157,157);
	color: white;
	height: 50px;
	border-radius: 25px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.memo-menu .delete-dialog .delete {
	width: 150px;
    background-color: rgb(194,91,93);
	color: white;
	height: 50px;
	border-radius: 25px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.memo .memo-content{
	display: inline-block;
	height: 100%;
	width: 100%;
}
.memo dl{
	display: grid;
	height: fit-content;
	gap: 16px;
	grid-template-columns: 80px 1fr;
	margin: 0;
}
.memo dl dt {
	background-color: rgb(105,174,246);
	color: balck;
	height: 24px;
	text-align: center;
	font-weight: bold;	
}
.memo dl dd {
	margin: 0;
}
.memo dl dd.flex {
    gap: 5%;
	flex-shrink: 0;
	flex-wrap: wrap;
}
.memo dl dd p {
	width: 30%;
	margin: 0;
	border-radius: 20px;
	color: white;
	text-align: center;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}
.memo dl dd p:nth-child(3n) {
	background-color: rgb(78,217,215);
}
.memo dl dd p:nth-child(3n+1) {
	background-color: rgb(99,101,166);
}	
.memo dl dd p:nth-child(3n+2) {
	background-color: rgb(78,126,217);
}
.memo-box {
	height: 100%;
}
form.form-style .label-title {
	color: rgb(4,62,128);
	display: block;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
form.form-style .label-title span{
	color: white;
	background-color: red;
	font-weight: bold;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	font-size: 12px;
	padding: 0 15px;
	margin-left: 10px;
	border-radius: 20px;
}
form.form-style #title {
	display: block;
	width: 100%;
	height: 60px;
	border-radius: 10px;
	font-size: 16px;
	margin-bottom: 30px;
}
form.form-style .title-error {
	color: red;
	margin-top: -20px;
	font-weight:bold;
}
form.form-style textarea {
	width: 100%;
	min-height: 300px;
	border-radius: 10px;
	margin-bottom: 100px;
}
form.form-style .button-box {
	display: flex;
	justify-content: center;
	column-gap: 30px;
}
form.form-style .button-box a {
	border-radius: 30px;
	width: 200px;
	color: white;
	background-color: rgb(157,157,157);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	height: 50px;
}

form.form-style .button-box button {
	border-radius: 30px;
	width: 200px;
	color: white;
	background: linear-gradient(to right, rgb(105,174,246), rgb(61,184,210));
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	height: 50px;
}

.memo-detail .detail-title {
	font-size: 50px;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
	color: rgb(4,62,128);
	font-weight: bold;
	padding: 0 30px;
	text-align: left;
}
.memo-detail dl {
	margin: 0 0 30px;
	padding: 0 30px;
	display: grid;
	grid-template-columns:80px 250px 80px 1fr;
	column-gap: 12px;
	align-items: center;
}
.memo-detail dl dt {
	margin: 0;
	background-color: rgb(105,174,246);
	color: balck;
	height: 24px;
	text-align: center;
	font-weight: bold;	
}
.memo-detail dl dd {
	margin: 0;
	column-gap: 10px;
}
.memo-detail dl dd p {
	color: white;
	width: 60px;
	border-radius: 20px;
	color: white;
	text-align: center;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}
.memo-detail dl dd p:nth-child(3n) {
	background-color: rgb(78,217,215);
}
.memo-detail dl dd p:nth-child(3n+1) {
	background-color: rgb(99,101,166);
}	
.memo-detail dl dd p:nth-child(3n+2) {
	background-color: rgb(78,126,217);
}
.memo-detail .detail-box {
	padding: 0 30px;
	margin-bottom: 100px;
}
.memo-detail .back {
	display: flex;
	margin: auto;
	width: 200px;
	background-color: rgb(157,157,157);
	color: white;
	height: 60px;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}
.memo-detail .back p {
	font-size: 20px;
}